

.navigation {
  margin: -20px;
  padding: 25px;
  background-color: #f5c5d1;
  box-shadow: 0px 25px 20px #f5c5d1;
}

.heading {
  text-align: center;
  margin: 100px 0px 100px 0px;
  background-color: cornsilk;
  color: #2A9DEF;
}

.heading h1 {
  font-size: 40px;
  margin: 30px 0px 15px 0px;
}

#headerImage {
  margin: 10px;
  max-width: 200px;
  border-radius: 50%;
}

.pageTitle {
  background-color: antiquewhite;
  text-transform: uppercase;
}

.aboutSection {
 background-color: azure;
}

.portfolioItem {
  background-color: blanchedalmond;
}

body {
  background-color: cornsilk;
  padding-top: 70px;
}

.portfolio {
  background-color: black;
}